{{>header}}
<div class="container mt-5">
    <h4 class="text-center">{{title}}</h4>
    <form action="/edit/{{this.id}}" method="post" enctype="multipart/form-data">
    {{#each row}}
        <div class="form-group">
        <label>Name</label>
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="text" name="name" value="{{this.name}}" class="form-control">
        </div>
        <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" value="{{this.username}}" class="form-control">
        </div>
        <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" value="{{this.email}}" class="form-control">
        </div>
        <div class="form-group">
        <label>Mobile</label>
        <input type="text" name="mobile" value="{{this.mobile}}" class="form-control">
        </div>
        <div class="form-group">
        <label>Address</label>
        <textarea name="address" class="form-control" rows="3">{{this.address}}</textarea>
        </div>
        <div class="form-group">
        <label>File</label>
        <input type="file" name="filename" id="filename" class="form-control">
        <img src="./images/{{this.filename}}">
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>
{{>footer}}