{{>header}}
<div class="container mt-5">
    {{#if message}}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{message}}</strong>
    </div>
    {{/if}}
        <a class="btn btn-primary" href="/register">ADD</a>
    <table class="table table-hover">
        <legend class="text-center">User List</legend>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#if userData}}
                {{#each userData}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.mobile}}</td>
                    <td>{{this.address}}</td>
                    {{#if this.status}}
                    <td>{{ this.status }}</td>
                    {{/if}}
                    <td><a href="/edit/{{this._id}}"><i class="fa fa-edit"></i></a></td>
                    <td><a href="/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash" style="color:red"></i></a></td>
                </tr>
                {{/each}}
                {{else}}
                <td>No Data found</td>
                {{/if}}
            </tbody>
    </table>
    </div>
{{>footer}}