{{>header}}
<div class="container">
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-primary">{{success}}</div>
    {{/if}}
        <button type="submit" class="btn btn-primary" href="/create">ADD</button>
        {{!-- <form action="/quotes" method="POST" role="form">
            <legend class="text-center">This is Home Page</legend>
        
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> --}}
    <table class="table table-hover">
        <legend class="text-center">User List</legend>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#if userData}}
                {{#each userData}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.mobile}}</td>
                    <td>{{this.address}}</td>
                    {{#if this.status}}
                    <td>{{ this.status }}</td>
                    {{/if}}
                </tr>
                {{/each}}
                {{else}}
                <td>No Data found</td>
                {{/if}}
            </tbody>
    </table>        
    </div>
